#root {
	position: relative;
}

.app {
	background-color: #fff;
	width: 400px;
	height: auto;
	padding: 10px 15px 20px;
	position: absolute;
	margin-top: 10vh;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 4px 4px 20px 2px rgb(73, 139, 226);
	display: flex;
	justify-content: center;
	@media screen and (max-width: 700px) {
		width: 100vw;
		margin-top: 0.5vh;
	}
	&__tab {
		display: flex;
		justify-content: center;
	}
}

.countdown {
	width: 350px;
	&__changers {
		display: flex;
		flex-direction: column;
		align-items: center;
    width: 65%;
	}
	&__slider {
		width: 90%;
	}
	&__btns {
		display: flex;
	}
	&__inputs {
		display: flex;
		width: 100%;
		justify-content: center;
	}
	&__time {
		margin: 0 5px;
		width: 50px;
	}
}

.timer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 400px;
	&__count {
		font-size: 50px;
		width: 350px;
		display: flex;
		justify-content: center;
	}
	&__btns {
		display: flex;
	}
	&__btn {
		display: flex;
		justify-content: center;
		background-color: transparent;
		border: none;
		align-items: center;
		width: auto;
		height: auto;
		font-size: 50px;
		margin-bottom: 10px;
	}
	&__input {
		margin: 0 10px 0 3px;
		width: 50px;
	}
}